
.containe{
    display: flex;
    gap: 1rem;
    margin: .7rem;
    height: 83vh;
      
}
.card{
    background-color: white;
    border-radius:20px ;
    padding: 1rem;
    width: 30rem;
}
.center{
    width: 100%;
    background-color: white;
    border-radius:20px ;
    padding: 1rem;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.item{
    display: grid;
    gap: .5rem;
}
.titre{
    font-family: Rubik;
}
.progress-stacked{
    height: 2rem;
    max-width: 50%;
}
.progress{
    height:2rem;
}
.progress-bar{
    font-size: medium;
}
.entete{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:1rem;
    justify-content: space-between;

}
.card-img-top{
    border-radius: 50%;
    max-width:14rem ;
    max-height: 11rem;
    border: 3px solid green;
}
.editP{
    width: fit-content;
    border-radius:50% ;
}
.Ch-pic-btn{
    display: flex;
    justify-content: right;
    align-items: center;
}
.img{
    display: grid;
    gap: 0px;
    justify-content: center;
    align-items: center;
    max-height: 40vh;
}
.list-group{
    display: grid;
    gap: .6rem;
    margin-top: 1rem;
}
.list-group-item{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.item-active{
    a{
    color: white;}
    background-color: #0D6EFD;
    border-color: #0D6EFD;}