@import "bootstrap/dist/css/bootstrap.min.css";
li > a {
  &:hover {
    color: #000;
  }
  &.active {
      color:black;
border-bottom: 4px solid green ;    
  }
}

:host{
  display: grid;
}

  .notif-btn {
    margin-right: 1rem;
    background-color:#fff ;
    color:#009970 ;
    width: 3rem;
    border-radius: 50px;
    border: none; 
   height: 3rem;
}

.navbar{
  background-color: white;
}

  .navbar-toggler {
  border: none;
  font-size: 1.25 rem;
  }
  .navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
  }
  .nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    }
    .nav-link:hover, .nav-link.active {
    color: #000;
    }

    .pic-profile{
      background-image: url("../../../../assets/profile_pic.svg");
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      border: 2px solid #666777;

    }

    .nav-item{
      cursor: pointer;
    }
    .link-profile{
      cursor: pointer;
      align-items: center;
      flex-wrap: nowrap;
      display: flex;
      gap: 6px;
    }
    
    .List-item-active{
      color:black;
        border-bottom: 4px solid green ;      
    }
@media (min-width: 991px) {
    .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;

    transition: 0.3s ease-in-out;
  }
  .List-item-active{
    color:black;
     ;      
  }
  .nav-link:hover::before, .nav-link.active::before {
      width: 100%;
      visibility: visible; border-bottom: none  
  }
}
.item-notif{
  // border: 2px solid black;
  margin-bottom: 4px;
}

.dropdown-item{
  background-color: azure;
  
}
.headDrop{
  border-bottom: 2px solid rgba(171, 171, 171, 0.344);
  padding: .5rem;
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
  }
}
.BottomDrop{
  border-top: 2px solid rgba(171, 171, 171, 0.344);
  padding: .2rem;
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: medium;
  }
}
.dropdown-item.active,
.dropdown-item:hover { 
  background-color: rgba(0, 106, 30, 0.1); 
  border-color: rgba(21, 159, 0, 0.2); }

  .NotifReaded { 
    border-left: 5px solid rgba(0, 128, 0, 0.462);

    border-radius: 5px;}