<div class="containe">
    <div class="entete">
        <h3>Les événements</h3>
        <button type="button"   *ngIf="this.Role=='RRH'" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#eventAdd" >Ajouter un Événement</button>
    </div>
    <div [ngClass]=alert role="alert">    {{Msg}}    </div>
  <div *ngIf="events.length==0 || events==null" class="body">
    <p class="mb-0 "><small class="text-body-secondary">Aucune Événement</small></p>
  </div>
  <div *ngIf="events.length" class="body">
    <div class="card"  *ngFor="let event of events" style="height: 30rem; width: 18rem;">
    <img  [src]="EventCover" class="card-img-top" alt="...">

    <div style="min-height:40px; overflow: clip;" class=" d-block card-body">
      <h5 class="card-title">{{event.titre}}</h5>
      <p  class=" card-text" >{{event.description}}</p>
    </div> 
    <div class="card-footer d-flex  align-items-center justify-content-between">
      <p class="mb-0 "><small class="text-body-secondary">{{event.dateD | date:'dd/MM/yyyy'}}</small></p>

      <div class="d-flex   " style="gap:1rem;">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eventD" (click)="eventClicked(event)"><i class="bi bi-eye-fill"></i></button>                  
        <button type="button" *ngIf="this.Role=='RRH'" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#listeEmp" (click)="eventClicked(event)"><i class="bi bi-people-fill"></i>                  </button>
      </div>
    </div>
  </div>
    
</div>


</div>





<!-- Modal  eventD -->


<div class="modal  fade" *ngIf="selectedEvent" id="eventD" tabindex="-1" aria-labelledby="eventD" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <div class="col1">
          <img class="img" [src]="EventCover" alt="Event" id="logo">
          <div class="detail">
            <h5 class="card-title">{{selectedEvent.titre}}</h5>
            <hr>
            <p class="card-text">{{selectedEvent.description}}</p>
          </div>
        </div>
        <div class="col2">
          <div class="cara">
            <p class="titre">Durée</p>
            <p class="reponse">{{selectedEvent.duree}} mois</p>
          </div>
          <div class="cara">
            <p class="titre">Date de debut</p>
            <p class="reponse">{{selectedEvent.dateD | date:'dd/MM/yyyy'}}</p>
          </div>
          <div class="cara">
            <p class="titre">Date de fin</p>
            <p class="reponse">{{selectedEvent.dateF | date:'dd/MM/yyyy'}}</p>
          </div>
          <div class="cara">
            <p class="titre">Lieu</p>
            <p class="reponse">{{selectedEvent.lieu}}</p>
          </div>
          <div class="cara">
            <p class="titre">Nombre des Places</p>
            <p class="reponse">{{selectedEvent.nbrPlace}}</p>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"  [disabled]="ispostuler" (click)="postuler(selectedEvent)">Postuler</button>
      </div>
    </div>
  </div>
</div>


  
  
  
     
      <!-- Modal Ajouter une event -->
  

   
 <div class="modal  fade" id="eventAdd" tabindex="-1" aria-labelledby="eventAdd" aria-hidden="true">
  <div class="modal-dialog modal-xl">
<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">AJOUTER UNE ÉVÉNEMENT </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    <div class="cl d-flex " >
      <div class="form-floating mb-2">
          <input required type="Text"  [(ngModel)]="eventAdd.titre"  class="form-control inputF" id="titre"   >
          <label for="titre">Titre</label>
      </div>

      <div class="form-floating mb-2">
          <input required type="Text"  [(ngModel)]="eventAdd.lieu"  class="form-control inputF" id="lieu"  >
          <label for="lieu">Lieu</label>
      </div>
       </div>

  <div class="cl d-flex" >
    <div class="form-floating mb-2">
      <input required type="date"  [(ngModel)]="eventAdd.dateD"  class="form-control inputF" id="Ddebut"   >
      <label for="Ddebut">Date Debut</label>
  </div>
  <div class="form-floating mb-2">
    <input required type="date"  [(ngModel)]="eventAdd.dateF"  class="form-control inputF" id="Dfin"   >
    <label for="Dfin">Date Fin</label>
</div>
  </div>      
  <div class="cl d-flex" >
      <div class="form-floating mb-2">
          <input required type="number"  [(ngModel)]="eventAdd.nbrPlace"  class="form-control inputF" id="nbrplace"   >
          <label for="nbrplace">Nombre des Places</label>
      </div>           
<div class="form-floating mb-2">
      <input required type="number"  [(ngModel)]="eventAdd.duree"  class="form-control inputF" id="duree"   >
      <label for="Duree">Duree</label>
  </div> 
  </div>


  <div class="form-floating mb-2">
    <textarea class="form-control "  [(ngModel)]="eventAdd.description" id="description"  value="description" ></textarea>
    <label for="description">Description</label>
</div>
  
  <div class="input-group mb-3">
    <input type="file" class="form-control" [(ngModel)]="eventAdd.img"  id="image" accept="image/*">
    <label class="input-group-text" for="image">Photo</label>
  </div>  

</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
    <button type="submit" class="btn btn-primary" (click)="addevent()" data-bs-dismiss="modal" >Ajouter</button>
  </div>
</div>
</div>
</div>



<div  *ngIf="listeEmpl.length" class="modal  fade" id="listeEmp" tabindex="-1" aria-labelledby="listeEmp" aria-hidden="true">
  <div class="modal-dialog modal-xl">
<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Liste des employes</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
<div class="data">

<table class="table table-striped table-hover">
  <thead>
  <th>Matricule</th>
  <th>Image</th>
  <th>Nom</th>
  <th>Prénom</th>
  <th>Poste</th>
  <th>Email</th>
  <th>Téléphone</th>
  <th></th>
  </thead>
  <tbody >
  <tr  *ngFor="let employee of selectedEvent.listEmploye;   ">
    
    <td>{{ employee.id }}</td>
    <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" style="border-radius: 50%;" width="40rem" height="40rem"></td>
    <td>{{ employee.firstname }}</td>
    <td>{{ employee.lastname }}</td>
    <td>{{ employee.service }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.phonenumber }}</td>
    <td style="display: flex; justify-content: space-around;">
      <button  type="button"  class="btn btn-primary"><i class="bi bi-pencil"></i></button>
    </td>
  </tr>
  </tbody>
</table>
</div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
    <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" ><i class="bi bi-file-arrow-down-fill"></i></button>
  </div>
</div>
</div>
</div>
