<div class="calendar-container">
    <div class="filter-container">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckConges" [(ngModel)]="filterOptions.conges" (change)="filterEvents()">
        <label class="form-check-label" style="color:  #078CCD  ;" for="flexSwitchCheckConges">Conges</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckFormations" [(ngModel)]="filterOptions.formations" (change)="filterEvents()">
        <label class="form-check-label" style=" color:#0E743F " for="flexSwitchCheckFormations">Formations</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckEvents" [(ngModel)]="filterOptions.events" (change)="filterEvents()">
        <label class="form-check-label" style=" color: #C00606 " for="flexSwitchCheckEvents">Events</label>
      </div>
    </div>
  
    <div class="calendar-wrapper">
      <full-calendar class="calendar" [options]="calendarOptions"></full-calendar>
    </div>
  </div>
  