<div class="containe">
  <div class="entete">
    <h3>Tableau de bord</h3>
  </div>
  <div style="display: flex; gap: 1rem; width: 100%;">
    <div class="card Carddemande text-bg-light mt-3 ">
      <div class="card-header">Demandes Statistics</div>
      <div class="card-body">
        <div>
          <ngx-charts-advanced-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="demande"
            [gradient]="gradient">
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
    <div class="card Cardformation text-bg-light mt-3">
      <div class="card-header">Formation Statistics</div>
      <div *ngIf="!formations.length" class="card-body">
        <p class="mb-0" style="text-align: center;"><small class="text-body-secondary">Aucune Formation</small></p>
      </div>
      <div *ngIf="formations.length " class="card-body">
        <div *ngFor="let formation of statistiqueFormationResult" style="margin-bottom: 1rem;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <label>{{ formation.formationTitre }}</label>
            <div class="progress" style="width: 75%;">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                [style.width.%]="formation.formationPourcentage"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ formation.formationPourcentage| number: '1.0-0' }}%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex; gap: 1rem; width: 100%;">
    <div class="card Carddemande text-bg-light mt-3 ">
      <div class="card-header">Employes Statistics</div>
      <div class="card-body">
        <div>
         <ngx-charts-advanced-pie-chart

            [view]="view"
            [scheme]="colorScheme"
            [results]="employeeChart"
            [gradient]="gradient">
          </ngx-charts-advanced-pie-chart
>
        </div>
      </div>
    </div>
    <div class="card Cardformation text-bg-light mt-3">
      <div class="card-header">Événement Statistics</div>
      <div *ngIf="!events.length" class="card-body">
        <p class="mb-0" style="text-align: center;"><small class="text-body-secondary">Aucune Événement</small></p>
      </div>
      <div *ngIf="events.length > 0" class="card-body">
        <div *ngFor="let event of statistiqueEventResult" style="margin-bottom: 1rem;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <label>{{ event.eventTitre }}</label>
            <div class="progress" style="width: 75%;">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                [style.width.%]="event.eventPourcentage"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ event.eventPourcentage| number: '1.0-0' }}%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div >
      <div class="card  text-bg-light mt-3 ">
        <div class="card-header d-flex justify-content-between align-items-center">
          <P  style="margin-bottom: 0%;">Demandes statistics de département {{departementNames[departIndex]}}</P>
          <div style="display: flex; gap: 1rem;">
          <P style="margin-bottom: 0%;"><button (click)="  previes()" type="button" class="btn btn-success"><i class="bi bi-caret-left-fill"></i> </button> </P>
          <P style="margin-bottom: 0%;"><button (click)="  next()" type="button" class="btn btn-success"><i class="bi bi-caret-right-fill"></i>
          </button> </P>
        </div>
        </div>
        <div class="card-body">
          <div>
            <ngx-charts-advanced-pie-chart
              [view]="viewdemande"
              [scheme]="colorScheme"
              [results]="demandesDepartementChart[departIndex]"
              [gradient]="gradient">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
