<div class="containe">
    <div class="entete">
        <h3>Département {{departement.name}}</h3>
    </div>
  <div  class="body">    <div [ngClass]=alert role="alert">{{Msg}}</div>

    <div style="width: 100%">
        <div class="entete">
            <h4 style="padding: 0%;">Supérieur hiérarchique</h4>
            <button *ngIf="role=='RRH'" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#setSUP_H"><i class="bi bi-pencil"></i></button>
        </div>

        <div *ngIf="!manager" class="">
            <p class="mb-0 "><small class="text-body-secondary">Aucune Supérieur hiérarchique</small></p>
        </div>

        <div routerLink='profile/{{manager.id}}' *ngIf="manager" class="card d-flex justify-content-center" style="width: 11rem;cursor: pointer; padding: 1rem; ">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="card-img-top"style="border-radius: 50%;">

            <div class="card-body" style="display: grid; justify-content: center; " >
              <p class="card-text "  style="font-weight: bold;">{{this.manager.firstname}} {{this.manager.lastname}}</p>
              <p class="mb-0 " style="text-align: center;"><small class="text-body-secondary">{{this.manager.role}}</small></p>
       
              </div>
        </div>
    </div>

    <div style="width: 100%">
        <div class="entete">
            <h4 style="padding: 0%;">Liste des employes</h4>
            <button *ngIf="role=='RRH'"  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddEmployeToDepart"><i class="bi bi-pencil"></i></button>
        </div>

        <div *ngIf="!ListeEmpl.length" style="display: flex; justify-content: center; margin: 2rem;">
            <p class="mb-0 "><small class="text-body-secondary">Aucune employe</small></p>
        </div>

        <div   *ngIf="ListeEmpl.length" style="display: flex; justify-content: center;cursor: pointer;  align-items: center;  gap: 2rem;">
        <div routerLink='profile/{{employe.id}}' *ngFor="let employe of ListeEmpl" class="card" style="width: 11rem; padding: 1rem;">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="card-img-top"style="border-radius: 50%;">

            <div class="card-body" style="display: grid; justify-content: center; " >
              <p class="card-text "  style="font-weight: bold;">{{this.employe.firstname}} {{this.employe.lastname}}</p>
              <p class="mb-0 " style="text-align: center;"><small class="text-body-secondary">{{this.employe.role}}</small></p>
            </div>
        </div></div>
    </div>
  </div>
</div>




<!-- modal setSUP_H -->
<div class="modal  fade" id="setSUP_H" tabindex="-1" aria-labelledby="setSUP_H" aria-hidden="true">
    <div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Changer le supérieur hiérarchique</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body " style="display: grid;justify-items: center; gap: 2rem;"> 

      <div class="search" style="min-width:  60%; display: flex;">
          <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </div>

      <div style="min-width:  100%; " class="data">

          <table class="table table-striped table-hover">
            <thead>
            <th>Matricule</th>
            <th>Image</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Département</th>
            <th>Poste</th>
            <th></th>
            </thead>
            <tbody>
            <tr *ngFor="let employee of this.ListeEmpl; let i = index">
              <td>{{ employee.id }}</td>
              <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" style="border-radius: 50%;"
                       width="40rem" height="40rem"></td>
              <td>{{ employee.firstname }}</td>
              <td>{{ employee.lastname }}</td>
              <td *ngIf="employee.departement ">{{ employee.departement.name }}</td>
              <td *ngIf="employee.departement ==null">--</td>
              <td *ngIf="employee.role=='RRH'" >Responsable RH</td>
              <td *ngIf="employee.role==null" >--</td>
              <td *ngIf="employee.role=='SUP_H'" >Supérieur hiérarchique</td>
              <td *ngIf="employee.role=='EMPLOYE'" >Employe</td>

              <td style="display: flex; justify-content: space-around;">
                  <!-- <button  type="button" *ngIf="departement.manager?.id==employee.id" data-bs-dismiss="modal" class="btn btn-danger" (click)="remouveSupH(employee)"   ><i class="bi bi-x-lg"></i> </button> -->
                  <i *ngIf="departement.manager?.id==employee.id" style="font-size: xx-large; color: green;" class="bi bi-check-square-fill"></i> 
                  <button  type="button"  *ngIf="departement.manager?.id!=employee.id"  data-bs-dismiss="modal" (click)="SetSupH(employee)" class="btn btn-success" ><i class="bi bi-plus-lg"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        
  </div> 
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
    </div>
  </div>
</div>
</div>       


<!-- modal add Employe to depart -->
<div class="modal  fade" id="AddEmployeToDepart" tabindex="-1" aria-labelledby="AddEmployeToDepart" aria-hidden="true">
    <div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un employé </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body " style="display: grid;justify-items: center; gap: 2rem;"> 

        <div class="search" style="min-width:  60%; display: flex;">
            <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
          </div>

        <div style="min-width:  100%; " class="data">

            <table class="table table-striped table-hover">
              <thead>
              <th>Matricule</th>
              <th>Image</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Département</th>
              <th>Poste</th>
              <th></th>
              </thead>
              <tbody>
              <tr *ngFor="let employee of this.employes; let i = index">
                <td>{{ employee.id }}</td>
                <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" style="border-radius: 50%;"
                         width="40rem" height="40rem"></td>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.lastname }}</td>
                <td *ngIf="employee.departement ">{{ employee.departement.name }}</td>
                <td *ngIf="employee.departement ==null">--</td>
                <td *ngIf="employee.role=='RRH'" >Responsable RH</td>
                <td *ngIf="employee.role==null" >--</td>
                <td *ngIf="employee.role=='SUP_H'" >Supérieur hiérarchique</td>
                <td *ngIf="employee.role=='EMPLOYE'" >Employe</td>

                <td style="display: flex; justify-content: space-around;">
                    <button  type="button" *ngIf="isInTheDepartment(employee) &&!(employee.role=='SUP_H')" data-bs-dismiss="modal" class="btn btn-danger" (click)="removeEmployefromDepart(employee)"><i class="bi bi-x-lg"></i> </button>
                    <button  type="button" *ngIf="!isInTheDepartment(employee)" data-bs-dismiss="modal" class="btn btn-success" (click)="AddEmployeToDepart(employee)"><i class="bi bi-plus-lg"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          
    </div> 
    <div class="modal-footer">
  
    </div>
  </div>
</div>
</div>       
