<div class="containe">
    <div class="entete">
        <h3>Département {{departement.name}}</h3>
    </div>
  <div  class="body">    <div [ngClass]=alert role="alert">{{Msg}}</div>

    <div style="width: 100%">
        <div class="entete">
            <h4 style="padding: 0%;">Superieure Hi</h4>
            <button type="button"  class="btn btn-success " data-bs-toggle="modal" data-bs-target="#" >Modifier</button>
        </div>

        <div *ngIf="!manager" class="">
            <p class="mb-0 "><small class="text-body-secondary">Aucune Superieure Hi</small></p>
        </div>

        <div *ngIf="manager" class="card" style="width: 10rem; padding: 1rem;">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="card-img-top"style="border-radius: 50%;">

            <div class="card-body">
              <h5 class="card-title">{{this.manager.lastname}}</h5>
              <p class="card-text">Some quick example tex.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div style="width: 100%">
        <div class="entete">
            <h4 style="padding: 0%;">Liste des employes</h4>
            <button type="button"  class="btn btn-success " data-bs-toggle="modal" data-bs-target="#" >Modifier</button>
        </div>

        <div *ngIf="!ListeEmpl" class="">
            <p class="mb-0 "><small class="text-body-secondary">Aucune employe</small></p>
        </div>

        <div *ngIf="ListeEmpl">
        <div  *ngFor="let employe of ListeEmpl" class="card" style="width: 18rem;">
            <img src="https://www.pikpng.com/pngl/m/16-168770_user-iconset-no-profile-picture-icon-circle-clipart.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{employe.lastname}}{{employe.firstname}}</h5>
              <p class="card-text">{{employe.service}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div></div>
    </div>
  </div>
 


</div>


