<div class="containe">
    <div class="entete">
        <h3>Tous les demandes</h3>
        <div class="btn-group  dropdown">
            <button type="button" id="typeDemande" class="btn btn-success dropdown-toggle" data-toggle="dropdown" >Déposer une demande</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item"  routerLink="/dashboard/demandes/ChDemandes/ED/D-conge" >Congé </a></li>
                <li><a class="dropdown-item"  routerLink="/dashboard/demandes/ChDemandes/ED/D-conge-ex" >Congé exceptionnel</a></li>
                <li><a class="dropdown-item"  routerLink="/dashboard/demandes/ChDemandes/ED/D-Autor-Sor"  >Autorisation de sortie </a></li>
                <li><a class="dropdown-item"  routerLink="/dashboard/demandes/ChDemandes/ED/D-Autor-Tele" >Autorisation de télétravail </a></li>
                <li><a class="dropdown-item" >Autorisation de travail supplémentaire </a></li>
                <li><a class="dropdown-item"  routerLink="/dashboard/demandes/ChDemandes/ED/D-Chang-Horaire" >Changement Horaire de travail</a></li>
                <li><a class="dropdown-item" >Autorisation de travail le dimanche </a></li>
                <li><a class="dropdown-item" >Acompte sur Salaire/prime </a></li>
                <li><a class="dropdown-item"  routerLink="/dashboard/demandes/ChDemandes/ED/D-pret" >Prêt</a></li>
            </ul> </div>
    </div>
      
    <div class="container-fluid">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>

  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-success" for="btnradio1">Toutes les Demandes</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-success" for="btnradio2">Demande Valider</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-success" for="btnradio3">Demande en attente</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-success" for="btnradio4">Demande refuse</label>
    </div>

    <div class="data">

    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Type</th>
            <th>Nom et prénom</th>
            <th>Statut</th>
            <th>Date</th>
            <th></th>
         </thead>
        <tbody>
            <tr *ngFor="let demande of demandes">
                <td>{{ demande.id }}</td>
                <td>{{ demande.Type }}</td>
                <td>{{ demande.nom }} {{ demande.prenom }}</td>
                <td ><i [ngClass]="getStatusClass(demande.Statut)"  class="bi  "></i>{{ demande.Statut }}</td>
                <td>{{ demande.Date }}</td>
                <td style="display: flex; justify-content: space-around;">
                    <button type="button" class="btn btn-success"><i class="bi bi-check2"></i></button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-x-lg"></i>                    </button>

                    <button type="button" class="btn btn-light"><i class="bi bi-pencil"></i>
                    </button>
                </td>
              </tr>
        </tbody>
      </table>
      </div>
</div>