<div class="containe">
    <div class="entete">
        <h3>Tous les demandes</h3>

    </div>
      
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input #searchInput class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search" (input)="applySearch(searchInput.value)">
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
      

      <div class="btn-group" role="group" aria-label="Basic radio toggle button group" (change)="filterDemandes($event)">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked value="all">
        <label class="btn btn-outline-success" for="btnradio1">Toutes les Demandes</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="validated">
        <label class="btn btn-outline-success" for="btnradio2">Demande Validée</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="pending">
        <label class="btn btn-outline-success" for="btnradio3">Demande en attente</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value="rejected">
        <label class="btn btn-outline-success" for="btnradio4">Demande refusée</label>
      </div>
    <div class=" data  mt-5">

        <div  *ngIf="demandesFilter.length==0 || demandesFilter==null" class=" data d-flex justify-content-center m-5" >
            <p class="mb-0 "><small class="text-body-secondary">Aucune Demande </small></p>
          </div>
   
    <table *ngIf="demandesFilter.length " class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Type</th>
            <th>Nom et prénom</th>
            <th>Statut</th>
            <th>Date</th>
            <th>Département</th>
            <th></th>
         </thead>
        <tbody>
            <tr *ngFor="let demande of demandesFilter">

                <td>{{ demande.id }}</td>
                <td>{{ demande.type }}</td>
                <td>{{ demande.utilisateur?.firstname }} {{ demande.utilisateur?.lastname}}</td>
                <td ><i [ngClass]="getStatusClass(demande.statut)"  class="bi  "></i>{{ demande.statut }}</td>
                <td>{{ demande.createdDate | date:'dd/MM/yyyy'}}</td>
                <td>{{ demande.departement?.name }}</td>

                <td style="display: flex; justify-content: space-around;">

                    <button type="button" *ngIf="demande.statut==='En_attente_Sup_H' && user.role==='SUP_H'"  (click)="valid_Sup(demande )" class="btn btn-success"><i class="bi bi-check2"></i></button>
                    <button type="button" *ngIf="demande.statut==='En_attente_RRH' && user.role==='RRH'"  (click)="valid_RRH(demande )" class="btn btn-success"><i class="bi bi-check2"></i></button>
                    <button type="button" *ngIf="demande.statut==='En_attente_Sup_H' && user.role==='SUP_H'"  (click)="refuse_Sup(demande )"  class="btn btn-danger"><i class="bi bi-x-lg"></i></button>
                    <button type="button" *ngIf="demande.statut==='En_attente_RRH' && user.role==='RRH'"  (click)="refuse_RRH(demande )"  class="btn btn-danger"><i class="bi bi-x-lg"></i></button>
                    <button type="button" *ngIf="demande.statut==='En_attente_Sup_H' ||demande.statut==='En_attente_RRH'" class="btn btn-light"><i class="bi bi-eye-fill"></i></button>
                    <button type="button" *ngIf="demande.statut==='Validee' || demande.statut==='Refusee' || demande.statut==='Refusee_Sup_H'"  class="btn btn-primary"><i class="bi bi-file-earmark-arrow-down-fill"></i></button>

                </td>
              </tr>
        </tbody>
      </table>

      </div>
</div>

